/* General */
/* Fixing Bootstrap */

/* General */
body  {
  font-family: 'Open Sans', sans-serif;
}
.logo {
  display: inline !important;
  height: 50px;
  vertical-align: middle;
  font-weight: 600;
  font-size: 30px;
}
.blue {
  color: #3770a0;
}
.yellow {
  color: #fbc600;
}
.bold {
  font-weight: 600;
}


/* Full Time */
.job-category-full-time .color {
  color: #FF7900;
}
.job-category-full-time .border  {
  border-color: #FF7900;
}

/* Permanent */
.job-category-permanent .color {
  color: #009A49;
}
.job-category-permanent .border  {
  border-color: #009A49;
}

/* Fixing Bootstrap*/
.navbar-brand {
  height: auto;
}
.navbar-brand img {
  margin-right: 10px;
}
.jumbotron {
  background-image: url("/static/images/bg-header.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 100px 0;
}
.jumbotron h1, .jumbotron h2{
  font-weight: 300;
}
.jumbotron h2 {
  font-size: 48px;
}
.jumbotron .btn-primary {
  margin-top: 30px;
  font-size: 24px;
}
.btn.btn-primary, .btn.btn-primary:hover  {
  padding: 15px 70px;
  font-weight: 600;
  background-color: #3770a0;
}
.btn.btn-primary:hover  {
    box-shadow: 0 -3px rgba(0, 0, 0, 0.25) inset;
}
.btn-group-sm > .btn, .btn-sm {
  font-size: 16px;
}




/* Index Page */
.job {
  color: #000;
}
.job-box  {
  border-right: solid 1px #ccc;
  margin-bottom: 20px;
}
.job:last-child .job-box {
  border: none;
}
.job-box-inner  {
  border-bottom: solid 1px #ccc;
  height: 300px;
}

.job-position {
  font-family: 'Droid Serif', serif;
  font-weight: bold;
  margin-top: 0;
}
.job hr {
  margin: 10px 0;
  width: 20px;
  border-top: solid 4px;
}




/* Internal Pages */
.internal-pages .jumbotron {
  padding: 40px 0 100px 0;
}
.title  {
  border-left: 5px solid;
  padding-left: 12px;
  margin-bottom: 30px;
  margin-top: 60px;
}

.tag .fa {
  margin-right: 5px;
}
.job-description * {
  font-family: 'Open Sans', sans-serif;
}















/* Footer */
footer .social {
  display: inline-block;
}
footer .social-middle {
  margin: 0 20px;
}



/* New Page */
textarea:required {
  background: transparent;
  border: none;
  box-shadow: none;
  display: block !important;
  height: 0;
  resize: none;
  width: 0;
  visibility: visible;
  opacity: 0;
  overflow: hidden;
}
table.mceLayout {
  width: 100%!important;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and (max-width : 767px) {
  .job-box {
    border: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 991px) {
  .job:nth-child(3n+3) .job-box {
    border: none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)  {
  .job:nth-child(4n+4) .job-box {
    border: none;
  }
}
