{% extends 'base.html' %}
{% block content %}
  <div class="jumbotron internal-pages">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img class="logo" src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fc%2Fc3%2FPython-logo-notext.svg%2F1024px-Python-logo-notext.svg.png&f=1" />
            <span class="logo blue">PythonJobs</span><span class="logo yellow">.ie</spa>
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
      <h1>Page not found</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">

        404 Page not found

    </div>
  </div>
{% endblock %}
