{% extends 'base.html' %}
{% block content %}
  <div class="jumbotron internal-pages">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/110px-Python-logo-notext.svg.png" />
            <span class="logo blue">PythonJobs</span><span class="logo yellow">.ie</spa>
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
      <h1>Find the best developers</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">

        {% include '_job_form.html' %}

        <div class="sidebar col-sm-3">

        </div>
    </div>
  </div>
  {% endblock %}
