<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <div>
      <p>Hi, thanks for using pythonjobs.ie!</p>

      <p>Your job has been posted and you can find it at: <a href="http://pythonjobs.ie/jobs/{{ job.id }}">{{ job.position}} at {{ job.company_name }}</a>.</p>

      <p>You will soon be able to edit the job at: <a href="http://pythonjobs.ie/jobs/edit?token={{ job.token }}">edit {{ job.position}}</a>.</p>

      <p>We are happy to hear any kind of feedback. Links will be shared on social media, please feel free to do the same.</p>

      <p>Thank you!</p>
      <p>pythonjobs.ie team</p>
    </div>
  </body>
</html>
