<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Python Jobs</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Python Jobs</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="active"><a href="post-jobs.html">Post a Job</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
        <h1>This is Python Jobs</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <!--form class="form-horizontal">
        <div class="row">
          <div class="col-lg-6">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control input-lg" placeholder="Search for...">
          </div>

          <div class="col-lg-6">
            <select class="form-control input-lg">
              <option>Location</option>
              <option>Dublin</option>
              <option>Cork</option>
              <option>Americana</option>
            </select>
            <!--div class="dropdown">
                <button class="btn btn-default dropdown-toggle btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Search by location
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Dublin</a></li>
                  <li><a href="#">Cork</a></li>
                  <li><a href="#">Nova York</a></li>
                </ul>
              </div-->
          <!--/div>
        </div>

        <button class="btn btn-default form-control input-lg hidden" type="button">Go!</button>
      </form-->
<p>

</p>
      <p><a class="btn btn-primary btn-lg " href="post-jobs.html" role="button">Post a Job</a></p>

    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3">
        <article class="entry">
          <h2>Front-End Developer</h2>
          <span class="entry-company">
            <strong>Wheelhouse</strong> (Oklahoma City, OK)
          </span>
          <span class="entry-type">Fulltime</span>
          <span class="entry-new">New</span>
        </article>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <article class="entry">
          <h2>Senior UX Designer</h2>
          <span class="entry-company">
            <strong>Wheelhouse</strong> (Oklahoma City, OK)
          </span>
          <span class="entry-type">Fulltime</span>
          <span class="entry-new">New</span>
        </article>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <article class="entry">
          <h2>UX Design / Interaction Architect</h2>
          <span class="entry-company">
            <strong>Wheelhouse</strong> (Oklahoma City, OK)
          </span>
          <span class="entry-type">Fulltime</span>
          <span class="entry-new">New</span>
        </article>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <article class="entry">
          <h2>Front-End Developer</h2>
          <span class="entry-company">
            <strong>Wheelhouse</strong> (Oklahoma City, OK)
          </span>
          <span class="entry-type">Fulltime</span>
          <span class="entry-new">New</span>
        </article>
      </div>
      <div class="clearfix">

      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <article class="entry">
          <h2>Front-End Developer</h2>
          <span class="entry-company">
            <strong>Wheelhouse</strong> (Oklahoma City, OK)
          </span>
          <span class="entry-type">Fulltime</span>
          <span class="entry-new">New</span>
        </article>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <article class="entry">
          <h2>Front-End Developer</h2>
          <span class="entry-company">
            <strong>Wheelhouse</strong> (Oklahoma City, OK)
          </span>
          <span class="entry-type">Fulltime</span>
          <span class="entry-new">New</span>
        </article>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <article class="entry">
          <h2>Front-End Developer</h2>
          <span class="entry-company">
            <strong>Wheelhouse</strong> (Oklahoma City, OK)
          </span>
          <span class="entry-type">Fulltime</span>
          <span class="entry-new">New</span>
        </article>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <article class="entry">
          <h2>Front-End Developer</h2>
          <span class="entry-company">
            <strong>Wheelhouse</strong> (Oklahoma City, OK)
          </span>
          <span class="entry-type">Fulltime</span>
          <span class="entry-new">New</span>
        </article>
      </div>
    </div>
    <hr>
    <footer>
      <p>&copy; Python Jobs 2015</p>
    </footer>
  </div>
  <!-- /container -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
