{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>This is Python Jobs</h1>
    <p>Find or post Python related jobs available in Ireland for free and without having to register.</p>
      <a class="btn btn-primary btn-lg" href="{% url 'job-new' %}" role="button">Post a Job</a>
  </div>
</div>
<div class="container">
  <div class="row">
    {% for job in jobs %}
    <a href="jobs/{{ job.id }}" class="job">
      <div class="col-xs-12 col-sm-4 col-md-3 job-box">
        <div class="job-box-inner">
    			<h5 class="job-company">{{ job.company_name }}</h5>
    			<h3 class="job-position">{{ job.position }}</h3>
    			<hr class="job-category-{{ job.category }}">
          <p class="job-description">{{ job.description|striptags|truncatechars:255 }}</p>
          <h5 class="job-category-{{ job.category }}">{{ job.category }}</h5>
          <h4 class="job-location">({{ job.location }})</h4>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
