{% extends 'base.html' %}
{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>Find the best developers</h1>
    </div>
  </div>
  <div class="container mtop-40">
    <div class="row">
      <div class="col-md-9">
        <form method="post" id="postJobForm" class="form-horizontal">
          {% csrf_token %}
          <div class="form-group">
            <label for="position" class="col-sm-2 control-label">Position
              <span class="red">*</span>
            </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="position" id="position" required>
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description
              <span class="red">*</span>
            </label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="18" name="description" id="description" cols="40" required></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="category" class="col-sm-2 control-label">Category
              <span class="red">*</span>
            </label>
            <div class="col-sm-10">
              <select class="form-control" name="category" id="category" required>
                {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="location" class="col-sm-2 control-label">Location
              <span class="red">*</span>
            </label>
            <div class="col-sm-10">
              <select class="form-control" name="location" id="location" required>
                <option value="Remote">Remote</option>
                <option disabled>-----</option>
                {% for city in cities %}
                    <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="company_name" class="col-sm-2 control-label">Company Name
              <span class="red">*</span>
            </label>
            <div class="col-sm-10">
              <input class="form-control" type="text" size="30" name="company_name" id="company_name" required>
            </div>
          </div>
          <div class="form-group">
            <label for="website" class="col-sm-2 control-label">Company Website</label>
            <div class="col-sm-10">
              <input class="form-control" type="url" value="http://" size="30" name="website" id="website" required>
            </div>
          </div>
          <div class="form-group">
            <label for="external_link" class="col-sm-2 control-label">Link to job</label>
            <div class="col-sm-10">
              <input class="form-control" type="url" size="30" name="external_link" id="external_link">
            </div>
          </div>
          <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
              <input class="form-control" type="tel" size="30" name="phone" id="phone" pattern="\+?\d+">
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email
              <span class="red">*</span>
            </label>
            <div class="col-sm-10">
              <input class="form-control" type="email" size="30" name="email" id="email" required>
            </div>
          </div>
            *Email is required to edit the job details.<br />
            <br />
            <input type="submit" />
        </form>
      </div>
      <div class="sidebar col-sm-3">

      </div>
    </div>
  </div
  {% endblock %}
