{% extends 'base.html' %}
{% block content %}
<div class="jumbotron internal-pages">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img class="logo" src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fc%2Fc3%2FPython-logo-notext.svg%2F1024px-Python-logo-notext.svg.png&f=1" />
          <span class="logo blue">PythonJobs</span><span class="logo yellow">.ie</spa>
        </a>
      </div>
    </div>
  </nav>
  <div class="container">
    <h2>Find the best companies</h2>
  </div>
</div>
<div class="container job-category-{{job.category_class}}">
  <div class="row">
    <div class="col-md-9">
      <h1 class="job-position">{{ job.position }}</h1>
      <h3>
        {% if job.website %}
          <a class="color" href="{{ job.website }}">{{ job.company_name }}</a> | {{ job.location }}
        {% else %}
          {{ job.company_name }} | {{ job.location }}
        {% endif %}
      </h3>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="color tag">
            <i class="fa fa-clock-o fa-lg"></i> {{ job.created_at|date:"F dS" }}
          </p>
        </div>
        <div class="col-sm-3">
          <p class="color tag">
            <i class="fa fa-bookmark fa-lg"></i> {{ job.category }}
          </p>

        </div>
      </div>
      <h3 class="bold border title">Description:</h3>
      <div class="job-description">{{ job.description|safe }}</div>
      <div class="clearfix"></div>
      {% if job.external_link != '' %}
        <a class="btn btn-sm btn-primary" href="{{ job.external_link }}">Apply</a>
      {% else %}
        <h3 class="bold border title">How to apply</h3>
        <p>Send an email to <a class="color" href="{{ job.email }}">{{ job.email }}</a></p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
