{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Find the best companies</h1>
  </div>
</div>
<div class="container mtop-40">
  <div class="row">
    <div class="col-md-9">
        <h1 class="job-position">{{ job.position }} at {{ job.company_name }}</h1>
        <br />
        <span class="bold">Website:</span> <a href="{{ job.website }}">{{ job.website }}</a><br />
        <span class="bold">Category:</span> {{ job.category }}<br />
        <span class="bold">Location:</span> {{ job.location }}<br />
        <span class="bold">Posted:</span> {{ job.created_at|date:"F dS" }}<br />
        {% if job.phone != '' %}
            <span class="bold">Phone:</span> {{ job.phone }}<br />
        {% endif %}
        <span class="bold">Email:</span> {{ job.email }}<br />
        <br />
        <span class="bold">Description:</span><br /> {{ job.description|safe }}<br />
        <br />
        {% if job.external_link != '' %}
            <a href="{{ job.external_link }}">Apply</a>
        {% endif %}
    </div>
</div>
{% endblock %}
